In [1]:
from ML.ML import ML

# Crear un objeto de la clase ML
ml = ML('./proyecto_data/proyecto_training_data.npy', 0.8)

#ml.hsitograma(ml.datos)	
#ml.corrGrafica(ml.datos)
#ml.corrGrafica(ml.entrenamiento)

#ml.corrGrafica(ml.validacion)
#ml.hsitograma(ml.validacion)
ml.entrenamiento
#ml.entrenar(ml.entrenamiento)

      SalePrice  OverallQual  1stFlrSF  TotRmsAbvGrd  YearBuilt  LotFrontage
0      208500.0          7.0     856.0           8.0     2003.0         65.0
1      181500.0          6.0    1262.0           6.0     1976.0         80.0
2      223500.0          7.0     920.0           6.0     2001.0         68.0
3      140000.0          7.0     961.0           7.0     1915.0         60.0
4      250000.0          8.0    1145.0           9.0     2000.0         84.0
...         ...          ...       ...           ...        ...          ...
1163   108959.0          4.0    1258.0           6.0     1969.0         60.0
1164   194000.0          5.0    1432.0           5.0     1978.0          NaN
1165   233170.0          7.0    1502.0           7.0     2009.0         79.0
1166   245350.0          8.0    1694.0           7.0     2008.0         64.0
1167   173000.0          6.0     959.0           7.0     2000.0         58.0

[1168 rows x 6 columns]

In [2]:
modelo, betas = ml.entrenar(ml.entrenamiento)
display(modelo)
display(betas)

 Epoca: 0, Error Medio: 19409466405.568665, b0: 180.68895719178082, b1: 1188.1392397260277
 Epoca: 10, Error Medio: 9345053425.402771, b0: 1623.4179235979645, b1: 10741.677914781512
 Epoca: 20, Error Medio: 4903143264.917181, b0: 2565.8265809975023, b1: 17090.890742909083
 Epoca: 30, Error Medio: 2942641414.4582896, b0: 3175.864734842668, b1: 21311.370637391927
 Epoca: 40, Error Medio: 2077272423.312121, b0: 3565.1065784273756, b1: 24117.666896154908
 Epoca: 50, Error Medio: 1695224192.3675497, b0: 3807.6742601716005, b1: 25984.47649150212
 Epoca: 60, Error Medio: 1526482530.3492982, b0: 3952.809388639411, b1: 27227.155153686814
 Epoca: 70, Error Medio: 1451880680.6079223, b0: 4033.224668149895, b1: 28055.20334825875
 Epoca: 80, Error Medio: 1418826163.3153033, b0: 4070.652145966151, b1: 28607.798648080076
 Epoca: 90, Error Medio: 1404108067.8114426, b0: 4079.52908274082, b1: 28977.400975739984
 Epoca: 100, Error Medio: 1397482602.9906683, b0: 4069.4465890815586, b1: 29225.434288672983

   Epoch         Error           b0            b1
0      0  1.940947e+10     0.100000      0.200000
0      1  1.799458e+10   180.688957   1188.139240
0      2  1.669082e+10   353.849676   2328.504681
0      3  1.548945e+10   519.879832   3423.202724
0      4  1.438244e+10   679.065176   4474.063375
..   ...           ...          ...           ...
0     96  1.399530e+09  4076.398883  29113.674963
0     97  1.398957e+09  4075.289433  29137.829439
0     98  1.398427e+09  4074.033726  29161.045765
0     99  1.397936e+09  4072.637630  29183.361531
0    100  1.397483e+09  4071.106782  29204.812826

[101 rows x 4 columns]

{'Epoch': 100,
 'Error': 1397482602.9906683,
 'b0': 4071.1067816490886,
 'b1': 29204.812825976536}

1397482602.9906683

In [5]:
betas

{'b0': 4069.4465890815586, 'b1': 4069.4465890815586}